<ul class="recipe-card-list">
  <li class="recipe-card-list__item"> Chicken </li>
  <li class="recipe-card-list__item"> Sliced Carrots</li>
  <li class="recipe-card-list__item"> Sliced Celery</li>
  <li class="recipe-card-list__item">Butter</li>
  <li class="recipe-card-list__item">Chopped Onions</li>
  <li class="recipe-card-list__item">Flour</li>
</ul>

{{outlet}}
